force-app/main/default/flows/Flow_Scheduler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Slots</name>
        <label>Get Slots</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>FlowSchedulerGetSlots</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Available_Slots</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>serviceAppointmentId</name>
            <value>
                <elementReference>serviceAppointmentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>schedulingPolicyId</name>
            <value>
                <elementReference>schedulingPolicyId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Schedule_Appointment</name>
        <label>Schedule Appointment</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>FlowSchedulerScheduleAppointment</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>serviceAppointmentId</name>
            <value>
                <elementReference>serviceAppointmentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startTimeString</name>
            <value>
                <elementReference>showslots.startTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endTimeString</name>
            <value>
                <elementReference>showslots.endTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>schedulingPolicyId</name>
            <value>
                <elementReference>schedulingPolicyId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <formulas>
        <name>formattedEndTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
SUBSTITUTE(LEFT({!showslots.endTime}, FIND(&quot;T&quot;,{!showslots.endTime}) - 1) + &quot; &quot; + RIGHT({!showslots.endTime}, FIND(&quot;T&quot;,{!showslots.endTime}) + 1), &quot;.000Z&quot;, &quot;&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>formattedStartTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
SUBSTITUTE(LEFT({!showslots.startTime}, FIND(&quot;T&quot;,{!showslots.startTime}) - 1) + &quot; &quot; + RIGHT({!showslots.startTime}, FIND(&quot;T&quot;,{!showslots.startTime}) + 1), &quot;.000Z&quot;, &quot;&quot;)
)</expression>
    </formulas>
    <interviewLabel>Flow Scheduler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Scheduler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Display_Available_Slots</name>
        <label>Display Available Slots</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Schedule_Appointment</targetReference>
        </connector>
        <fields>
            <name>showslots</name>
            <extensionName>c:showSlots</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>slots</name>
                <value>
                    <elementReference>Get_Slots.slots</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>error</name>
                <value>
                    <elementReference>Get_Slots.error</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Slots</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bookingSlots</name>
        <apexClass>BookingSlot</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>endTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>matchingSlots</name>
        <apexClass>BookingSlot</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>schedulingPolicyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Required. This is the ID of the Service Appointment record.</description>
        <name>serviceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceTerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vartext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
